button {
	position:relative;
	display: block;
	/*transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

button:hover {
    color: black;
    background-color: lightgray;
    border-color: black;
}

button:active {
    color: white;
    background-color: black;
}

button:disabled {
	background-color: lightgray;
	color: gray;
	border: 3px solid gray;
}