* {
    font-family: arial;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
}
button {
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    font-weight: bold;
}
button:hover {
    background-color: lightgray;
}
.top {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
.bottom {
    position: absolute;
    margin: auto;
    border-top: 3px solid black; 
    left: 0;
    right: 0;
}
.left {
    float: left;
    align-items: center;
}
.right {
    float: right;
    align-items: center;
}
.cell {
    text-align: center;
}
.value {
    font-weight: bolder;
}
.value #cs {
    font-weight: bolder;
}
.value #ch {
    font-weight: bolder;
}
#unit {
    color: lightgray;
    background-color: white;
    font-weight: bolder;
}

.msg {
    position: absolute;
    margin: auto;
    padding: 30px;
    width: 70%;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    z-index: 2;
}
.msgtxt {
    font-weight: bolder;
}
.msgcnt {
    margin-bottom: 15px;
}
.msgbtn {
    margin-top: 15px;
}

@media (orientation:landscape) {
    * {
        font-size: 4vh;
    }
    button {
        font-size: 5vh;
    }
    .space {
        display: none;
    }
    .name {
        font-size: 8vh;
    }
    .value {
        font-size: 25vh;
    }
    .value #cs {
        font-size: 25vh;
    }
    .value #ch {
        font-size: 25vh;
    }
    .top {
        width: 100%;
        height: 40%;
    }
    .bottom {
        width: 100%;
        height: 60%;
        top: 40%;
    }
    .left {
        width: 49%;
        height: 100%;
        top: 0;
        border-right: 3px solid black;
    }
    .right {
        width: 50%;
        height: 100%;
        top: 0;
    }
    #unit {
        font-size: 10vh;
    }
    .msgtxt {
        font-size: 7vh;
    }
    .msgcnt {
        font-size: 5vh;
    }
}
@media (orientation:portrait) {
    * {
        font-size: 100%;
    }
    .br {
        display: none;
    }
    button {
        font-size: 120%;
    }
    .name {
        font-size: 160%;
    }
    .value {
        font-size: 200%;
    }
    .value #cs {
        font-size: 200%;
    }
    .value #ch {
        font-size: 200%;
    }
    .top {
        width: 100%;
        height: 30%;
    }
    .bottom {
        width: 100%;
        height: 70%;
        top: 30%;
    }
    .left {
        width: 100%;
        height: 50%;
        top: 0;
        border-bottom: 3px solid black;
    }
    .right {
        width: 100%;
        height: 50%;
        top: 0;
    }
    #unit {
        font-size: 125%;
    }
    .msgtxt {
        font-size: 7vw;
    }
    .msgcnt {
        font-size: 5vw;
    }
}
